@page
@model ParkNet_Fabio.Pinheiro.App.Pages.Vehicles.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Vehicle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Vehicle.UserId" />
            <div class="form-group">
                <label asp-for="Vehicle.LicensePlate" class="control-label">License Plate</label>
                <input asp-for="Vehicle.LicensePlate" class="form-control" />
                <span asp-validation-for="Vehicle.LicensePlate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehicle.TypeId" class="control-label">Type</label>
                <select asp-for="Vehicle.TypeId" class="form-control" asp-items="ViewBag.TypeId"></select>
            </div>
            <br />
            <div>
                <td>
                    <input type="submit" value="Create" class="btn btn-success" />
                    <a class="btn btn-light" asp-page="./Index">Back to List</a>
                </td>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
